@model System.Data.DataTable
@using System.Data;

@{
    ViewData["Title"] = "InputForm";
    Layout = "~/Views/Shared/_LayoutStore.cshtml";
}



<style>

    table.dataTable thead th {
        white-space: nowrap
    }
</style>
<div class="content" style="background-color:#e3e3e6;min-height:100vh">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <a asp-area="" asp-controller="EManageForm" asp-action="FormIndex" class="nav-link"
                               asp-route-OpeGroupCateg="@ViewBag.OpeGroupCateg">
                                <i class="fas fa-caret-square-left"></i>  Back
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <div class="card">
                        <!-- navigation in .card-header -->
                        <div class="card-header">
                            <ul class="nav nav-pills card-header-pills">
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#pill1"><i class="fas fa-cog"></i> Maintenance</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#pill2"><i class="fas fa-th-list"></i> Report</a>
                                </li>
                            </ul>
                        </div>
                        <!-- .card-body.tab-content  -->
                        <div class="card-body tab-content">
                            <div class="tab-pane fade " id="pill1" style="width:98% ;">

                                <form class="form-inline">
                                    <a asp-area="" asp-controller="EManageForm" asp-action="FormInput" class="nav-link btn btn-primary btn-sm"
                                       asp-route-strObj="@ViewBag.strObj" asp-route-OperationCode="@ViewBag.OperationCode"
                                       asp-route-OpeGroupCateg="@ViewBag.OpeGroupCateg" asp-route-InputKind="@ViewBag.InputKind" asp-route-OperationNo="">
                                        <i class="fas fa-plus-square"></i> New Create
                                    </a>
                                </form>
                                <table id="tableHistoryForm" class="table w-responsive display" cellpadding="0" cellspacing="0" border="0" style="width:100% ;"></table>
                                <div id="jqprocess"></div>

                            </div>


                            <div class="tab-pane fade show active" id="pill2" style="width:100% ;">

                                <table id="reporttable" class="table table-bordered table-hover" cellpadding="0" paging="false" cellspacing="0" border="0" style="width:100% ;">
                                    <thead>
                                        <tr>
                                            @foreach (DataColumn col in Model.Columns)
                                            {
                                                <th>@col.ColumnName</th>
                                            }
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (DataRow row in Model.Rows)
                                        {
                                            <tr>
                                                @foreach (DataColumn col in Model.Columns)
                                                {
                                                    <td>@row[col.ColumnName]</td>
                                                }
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div><!-- /.card-body -->
                    </div><!-- /.card -->

                </div><!--/.container -->
            </div>
        </div>
    </section>



</div>

@using (Html.BeginForm("FormInput", "EManageForm", FormMethod.Get, new { @id = "toupdate", @role = "form" }))
{
    @Html.Hidden("strObj")
    @Html.Hidden("OperationCode")
    @Html.Hidden("OpeGroupCateg")
    @Html.Hidden("InputKind")
    @Html.Hidden("OperationNo")
}

@section scripts {

    <script type="text/javascript">
    var _strObj = "@ViewBag.strObj";
    var _OperationCode = "@ViewBag.OperationCode";
    var _OpeGroupCateg = "@ViewBag.OpeGroupCateg";
    var _InputKind = "@ViewBag.InputKind";

    </script>
    <script src="~/js/View/EManageForm/FormList.js"></script>

}


