@model SmartOffice.Models.ModelSubSystems
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutHelpdesk.cshtml";
}

<div class="container-fluid pt-2">
    <div class="layout core-layout">
        <div class="layout-header layout-header-sticky" style="height: 80px;">
            <div class="layout-header-content" style="width: auto;">
                <div class="layout-header-item">
                    <h4>@Model.subSystems.FirstOrDefault().GroupName</h4>
                    <span class="text-muted">Browse our support resources.</span>
                </div>
            </div>
        </div>
        <div class="layout-body">
            <div class="layout-content">
                <div class="card card-body-flush">
                    <div class="card-header">
                        <h6 class="card-title">Browse</h6>
                    </div><div class="card-body">
                        <div class="list-group list-group-flush list-group-hover home-page-tiles">
                            <div class="row no-gutters">
                                @foreach (var item in Model.subSystems)
                                {
                                    <a class="float-left list-group-item list-group-item-action col-lg-4 col-md-6 col-sm-12 border-0 m-0 p-0 text-center" href="@Url.Action(item.Action,item.Controller)">
                                        <span class="d-inline-block p-4">
                                            <span class="d-block">
                                                <span class="icon-wrapper icon-wrapper-lg">
                                                    @Html.Raw(item.IconClass)
                                                </span>
                                            </span>
                                            <span class="d-block my-3">
                                                <span class="d-block font-weight-bold">
                                                    @item.MenuNameE
                                                </span>
                                                <span class="d-block text-muted">
                                                    @item.MenuNameT
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

